*{
    margin: 0;
}

body{
    display: flex;
    background: linear-gradient(rgb(0,139,139), rgb(	0,128,128), rgb(0,139,139));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    padding: 10px 0px;
    color:rgb(12, 10, 10);
    font-size: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header h3{
    font-style: normal;
    font-size: large;
    color: rgb(0, 0, 0);
}
.cabecario{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
.selects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.selects select{
    height: 3.5em;
    width: 10em;
    margin: 0.5rem 0rem;
    text-align: left;
    font-weight: bold;
    padding-left: 1rem;
    border-radius: 1em;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inputs input{
    height: 3.3em;
    width: 10em;
    font-weight: bold;
    padding-left: 1rem;
    margin: 0.5rem 0.75rem;
    text-align: left;
    border: 1px black solid;
    outline: none;
    border-radius: 1em;
}














